{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <h1>L'histoire de la Conquête Spatiale</h1>
    <p>Link to : <a class="nav-link" href="{{ path('admin') }}">Admin</a></p>
{% endblock %}                    