{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container-fluid hero-container">
        <div class="hero-img">
            <img src="{{ asset('uploads/img/main/hero-img.webp') }}" alt="Space Conquest Hero Img" class="img-fluid img-hero">
            <h1 class="hero-h1">L'histoire de la conquête spatiale</h1>
        </div>    
    </section>
{% endblock %}                    